

encounter main {
  flex-direction: column;
  flex: 100%;
}

encounter .environment, encounter .person {
  display: none;
}

encounter.environment .environment {
  display: flex; 
}

encounter.person .person {
  display: flex;
}

trade-area {
  flex: 400px 0 0;
  padding: 20px;
  flex-direction: column;
}

offer, request {
  flex: 100%;
  justify-content: space-between;
}

available {
  flex-direction: column;
}

speech {
  font-family: 'symbols';
}

speech strong {
  font-family: 'arial';
}

speech strong + strong {
  margin-left: 5px;
}

encounter.flavor speech, encounter.environment speech {
  font-family: 'arial';
}

.garbled {
  font-family: 'symbols';
}

encounter.complete available,
encounter.complete trade-area,
encounter.complete button:not([data-intent=leave]) {
  display: none !important;
}
