
encounter {
  width: 500px;
  height: auto;
  position: fixed;
  top: 50%;
  margin-top:-300px;
  left: 50%;
  margin-left:-250px;
  display: block;
}

encounter main {
  flex-direction: column;
  flex: 100%;
}

encounter block {
  position: relative;
}

encounter block > img {
  height: 250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

encounter block > block {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

encounter .environment, encounter .person {
  display: none;
}

encounter.complete available,
encounter.complete trade-area,
encounter.complete button:not([data-intent=leave]) {
  display: none !important;
}

encounter.environment {
  background-color: #344742;
}

encounter.person {
  background-color: #635C4F;
}

encounter.environment .environment {
  display: flex; 
}

encounter.person .person {
  display: flex;
}

encounter.flavor speech, encounter.environment speech {
  font-family: 'arial';
}

available {
  text-align: center;
}

available item-slot:not([data-id]) {
  display: none;
}

trade-area {
  flex: 200px 0 0;
  padding: 20px;
  flex-direction: column;
  text-align: center;
}

offer, request {
  flex: 100%;
  justify-content: left;
}

available {
  flex-direction: column;
}

speech {
  font-family: 'symbols';
  display: block;
  white-space: pre-wrap;
  color: black;
}

speech strong {
  font-family: 'arial';
  font-weight: normal;
}
