
ship {
  background: white;
  opacity: 0.95;
  flex-direction: column;
  transition: left 0.1s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 100%;
  top: 0px;
}

ship.expanded {
  left: 0px;
}

ship expand {
  background: white;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
}

ship collapse {
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  align-items: center;
  right: 0px;
  top: 0px;
}

ship.expanded expand {
  display: none; 
}

ship block {
  position: relative;
  width: 640px;
  align-self: center;
}

ship img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ship item-slot {
  position: absolute;
  top: 0px;
}

ending {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

ending message {
  font-size: 26px;
  position: absolute;
  justify-content: center;
  top: 10px;
  width: 100%;
  color: white;
  left: 0px;
}

ending block {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

ending img {
  height: 100%;
}

