
ship {
  background: white;
  opacity: 0.95;
  flex-direction: column;
  transition: left 0.1s ease-in-out;
  height: calc(100% - 100px);
  position: fixed;
  width: 100%;
  left: 100%;
  top: 0px;
}

ship.expanded {
  left: 0px;
}

ship expand {
  background: white;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
}

ship collapse {
  padding: 10px;
  cursor: pointer;
}

ship.expanded expand {
  display: none; 
}

