
item-slot {
  width: 40px;
  height: 40px;
  border: 1px solid grey;
  margin: 5px;
  position: relative;
  cursor: pointer;
}

item-slot.goal {
  background: rgba(255,255,255,0.3);
}

item-slot hover-text {
  flex-direction: column;
  background: white;
  border: 1px solid black;
  min-height: 80px;
  position: absolute;
  display: none;
  width: 200px;
  right: -201px;
  z-index: 100;
  pointer-events: none;
}

hover-text info {
  padding: 10px;
}

item-slot[data-id]:hover hover-text {
  display: flex;
}

slots {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

inventory {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  flex-direction: column;
  flex: 240px 0 0;
  z-index: 10;
  background: white;
  opacity: 0.9;
  padding: 10px;
}

inventory item-slot hover-text {
  bottom: 100%;
  left: -20px;
  right: 80px;
}
