
item-slot {
  width: 64px;
  height: 64px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

item-slot[data-id]:not([data-id="undefined"]) {
  background-image: url('../img/items.png');
  background-repeat: no-repeat;
  background-size: 300%;
  image-rendering: pixelated;
}

item-slot[data-id="0"] { background-position: 0px 0px; }
item-slot[data-id="1"] { background-position: -64px 0px; }
item-slot[data-id="2"] { background-position: -128px 0px; }
item-slot[data-id="3"] { background-position: -0px -64px; }
item-slot[data-id="4"] { background-position: -64px -64px; }
item-slot[data-id="5"] { background-position: -128px -64px; }
item-slot[data-id="6"] { background-position: 0px -128px; }
item-slot[data-id="7"] { background-position: -64px -128px; }
item-slot[data-id="9"] { background-image: none !important; }
item-slot[data-id="8"] { background-image: none !important; }

offer item-slot[data-id="0"],
inventory item-slot[data-id="0"] {
  background-position: -128px -128px;
}

item-slot.goal {
  background-color: rgba(255,255,255,0.5);
  border: 1px solid grey;
}

item-slot hover-text {
  flex-direction: column;
  background: white;
  border: 1px solid black;
  min-height: 80px;
  position: absolute;
  display: none;
  width: 200px;
  right: -201px;
  top: -1px;
  z-index: 100;
  pointer-events: none;
  padding: 10px;
}

item-slot name {
  font-weight: bold;
}

item-slot[data-id]:hover hover-text {
  display: flex;
}

slots {
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

inventory {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  flex-direction: column;
  flex: 240px 0 0;
  z-index: 10;
  background: white;
  opacity: 0.9;
  padding: 10px;
}

inventory item-slot hover-text {
  bottom: 100%;
  left: -20px;
  right: 80px;
}

item-slot info {
  text-align: left;
}
