
* {
  display: flex;
  box-sizing: border-box;
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

span, strong {
  display: inline;
}
head, style, script { display: none; }

div {
  flex-flow: column;
}
row {
  justify-content: center;
  align-items: center;
}

block {
  display: block;
}

body {
  margin: 0px;
  font-family: helvetica;
  font-weight: lighter;
  flex-basis: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  background-image: url('../img/background.png');
  background-repeat: none;
  background-size: cover;
  background-position: right;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

header {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  background: rgba(0,0,0,0.3);
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

button {
  display: block;
  height: 40px;
  width: 140px;
  border: 0px;
  font-size: 12px;
  padding: 0px 10px;
  color: rgba(255,255,255,0.7);
  background: rgba(0,0,0,0.4);
  justify-content: center;
  transition: background 0.1s linear, color 0.1s linear;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: rgba(0,0,0,0.2);
  color: white;
}

.garbled {
  font-family: 'symbols';
}

.special {
  color: rgba(247, 105, 190, 0.8);
}
