
* {
  display: flex;
  box-sizing: border-box;
}
span, strong {
  display: inline;
}
head, style, script { display: none; }

div {
  flex-flow: column;
}
row {
  justify-content: space-between;
  align-items: center;
}

block {
  display: block;
}

body {
  margin: 0px;
  font-family: helvetica;
  font-weight: lighter;
  flex-basis: 100%;
  height: 100%;
}

header {
  flex-shrink: 0;
  justify-content: space-between;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.garbled {
  font-family: 'symbols';
}
