
* {
  display: flex;
  box-sizing: border-box;
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

span, strong {
  display: inline;
}
head, style, script { display: none; }

div {
  flex-flow: column;
}
row {
  justify-content: center;
  align-items: center;
}

block {
  display: block;
}

body {
  margin: 0px;
  font-family: helvetica;
  font-weight: lighter;
  flex-basis: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.garbled {
  font-family: 'symbols';
}
